@charset "UTF-8";

@font-face {
    font-family: 'funhouse';
    src: url('fonts/Howie_s_Funhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #2CD4F2;
    --cor2: #29C9E6;
    --cor3: #25B3CC;
    --cor4: #1E91A6;
    --cor5: #125966;
    --cor6: #003B45;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-funhouse: 'funhouse';
}

* {
    font-family: var(--fonte-funhouse);
}

body {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor6));
}

nav {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor6));
    padding: 10px;
}

nav > a {
    padding: 10px;
}

nav > a:hover {

}

h1 {
    background-color: var(--cor3);
    color: var(--cor1);
    font-size: 30px;
    text-align: center;
}

h2 {
    background-color: var(--cor3);
    color: var(--cor1);
    text-align: center;
}