@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Glitch';
    src: url('fonts/Glitch inside.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Katana';
    src: url('fonts/Kashima\ Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dolce';
        src: url('fonts/EspressoDolce.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Funhouse';
    src: url('fonts/Howie_s_Funhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
    Tipos de format()
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-aat (Apple Advanced Typography)
    - svg
*/

    /* Este modo é meramente para estudos, ele não aparece nos códigos */

    /*
    Medidas absolutas:
    cm, mm, in (polegadas), px, pt, pc.
    Medidas relativas:
    em, ex, rem, vw, vh, %.

    Na <font-family> é recomendado usar px ou em.
    */

* {
    height: auto;
    text-align: justify;
}

body {

    background-image: linear-gradient(to bottom, white, mistyrose, #eca8a0);
    /* background-attachment: fixed; */
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    /* font-weight: bolder; */
    /* font-style: italic; */
    /* text-decoration: underline; */

    /* font: italic bolder 15px 'cursive'; ---------> tudo em 1 nessa ordem */
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(140, 94, 69);
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Glitch';
    color: rgba(158, 40, 40, 0.789);
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

h2 {
    font-family: 'Katana';
}

p {
    font-family: 'Dolce';
    text-indent: 30px;
    margin: auto;
}

li, dt, dd {
    font-family: 'Funhouse';
}

blockquote {
    font-family: 'Dolce';
}