@charset "UTF-8";

@font-face {
    font-family: 'Funhouse';
    src: url('fonts/Howie_s_Funhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    height: auto;
}

h1 {
    /*
    background-color: mistyrose;
    height: 40px;
    width: 180px;


    border: 10px solid pink;

    border-width: 10px;
    border-style: solid;
    border-color: pink;


    padding: 10px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;


    margin: auto;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    outline-width: 3px;
    outline-style: dashed;
    outline-color: royalblue;
    */

    background-color: tomato;
}

body {
    font-family: 'Funhouse';
    background-color: lightseagreen;
}

header {
    width: 600px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: lightsteelblue;
    padding: 2px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: lightslategray;
    padding: 5px;
}

article > aside {
    background-color: rgb(54, 57, 60);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}