@charset "UTF-8";

    /* Este modo é meramente para estudos, ele não aparece nos códigos */

    /*
    Medidas absolutas:
    cm, mm, in (polegadas), px, pt, pc.
    Medidas relativas:
    em, ex, rem, vw, vh, %.

    Na <font-family> é recomendado usar px ou em.
    */

* {
    font-family: cursive;
    height: auto;
}

body {

    background-image: linear-gradient(to bottom, white, mistyrose, #eca8a0);
    font-size: 15px;
  
    /* background-attachment: fixed; */
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(140, 94, 69);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

h2 {
    text-shadow: 1px 1px 2px black;
}

p {
    text-align: justify;
    margin: auto;
}

pre p {
    text-align: center;
}